.Button {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #302f2f !important;
}

.Button:active {
  background-color: #302f2f !important;
}

.Button:focus {
  background-color: #302f2f;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

/* .Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #302f2f;
  color: #f9f8f8;
}

.BlueOutline,
.Blue:hover {
  background-color: #c2c1c1;
  color: #302f2f;
} */

.Black,
.BlackOutline:hover {
  background-color: #302f2f;
  color: #f9f8f8;
}

.Black:hover,
.BlackOutline {
  background-color: #c2c1c1;
  color: #302f2f;
}

.Bright {
  background-color: #c2c1c1;
  color: #302f2f;
}