.Event {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Event figure,
h5 {
    margin: 0 0;
}

.Interested {
    color: #f85032;
}

.Interested:hover {
    color: #2142b2;
}

.InterestedOutline:hover {
    color: #f85032;
}