.Event {
    background-color: #f9f8f8;
    border: 1px solid #c2c1c1;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Event figure,
h5 {
    margin: 0 0;
}

.EventBar {
    margin-top: 10px;
    padding-top: 10px;
}

.Header {
    background-color: #5d5c5c;
    color: #f9f8f8;
    font-size: larger;
}

.Interested {
    color: #fe526f;
}

.Interested:hover {
    color: #5d5c5c;
}

.InterestedOutline:hover {
    color: #fe526f;
}

i {
    font-size: 25px;
}