.Post {
    background-color: #f9f8f8;
    border: 1px solid #c2c1c1;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Thumbs {
    color: #fe526f;
}

.Thumbs:hover {
    color: #5d5c5c;
}

.ThumbsOutline:hover {
    color: #fe526f;
}

i {
    font-size: 25px;
}