.App {
    font-family: 'Oswald', sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
    padding-top: 92px;
}

* {
    box-sizing: border-box;
}

a {
    color: #575757;
}

a:hover {
    text-decoration: none;
    color: #d19fa1;
}

a:hover i {
    color: #d19fa1;
    transition: color ease-in-out 0.3s;
}

i {
    color: #575757;
    padding: 2px;
}
